*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

/*COLORS*/
body{
    background:  hsl(218, 22%, 67%);
}

.top-content{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.left-content{
    background-color: hsl(179, 62%, 43%);
    color: white;
}

.right-content{
    background-color: hsla(179, 62%, 43%, 0.575);
    color: white;
}

.title{
    color: hsl(179, 62%, 43%);
}

.heading{
    color:  hsl(71, 73%, 54%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*POSITIONING AND STYLE*/
main{
    margin: 50px auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
